# bash
#
X CONFIG_FEATURE_SH_IS_ASH

# coreutils
#
X CONFIG_CHMOD
X CONFIG_CHGRP
X CONFIG_CHOWN
X CONFIG_NICE

X CONFIG_EXPR
X CONFIG_SEQ
X CONFIG_DATE
X CONFIG_UNAME

X CONFIG_CAT
X CONFIG_ECHO
X CONFIG_PRINTF
X CONFIG_TEE

X CONFIG_CUT
X CONFIG_TR
X CONFIG_HEAD
X CONFIG_TAIL

X CONFIG_LS
X CONFIG_DF
X CONFIG_DU
X CONFIG_ENV

X CONFIG_TTY
X CONFIG_STTY
X CONFIG_PWD
X CONFIG_STAT
X CONFIG_READLINK
X CONFIG_REALPATH

X CONFIG_TRUE
X CONFIG_FALSE
X CONFIG_SLEEP

X CONFIG_MKDIR
X CONFIG_MKFIFO
X CONFIG_MKNOD
X CONFIG_CP
X CONFIG_MV
X CONFIG_LN
X CONFIG_RM
X CONFIG_RMDIR

X CONFIG_CHROOT

# runit
#
X CONFIG_RUNSVDIR
X CONFIG_RUNSV
X CONFIG_SV
X CONFIG_CHPST
X CONFIG_SETUIDGID
X CONFIG_ENVUIDGID
X CONFIG_ENVDIR
X CONFIG_SOFTLIMIT

X CONFIG_SVLOGD
