# always prefer the one from binutils
O CONFIG_AR

# don'T replace init, we use runit
O CONFIG_INIT
O CONFIG_HALT
O CONFIG_RUNLEVEL

# we prefer bcron
O CONFIG_CROND
O CONFIG_CRONTAB

# and socklog
O CONFIG_SYSLOGD

# no httpd
O CONFIG_HTTPD

# redhad/debian stuff
O CONFIG_DPKG
O CONFIG_DPKG_DEB
O CONFIG_RPM
O CONFIG_RPM2CPIO

# rocknet
O CONFIG_IFUPDOWN

# deprecated things
O CONFIG_RUN_PARTS
O CONFIG_START_STOP_DAEMON
O CONFIG_INETD
O CONFIG_IFCONFIG

# and simply to keep simmetry with non-embedded mnemosyne-based systems
O CONFIG_NSLOOKUP

